*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

.clearfix{
    display: table;
    content: "";
    clear: both;
}
/* Header Main Footer */
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

/* /Header Main Footer */



/* Debug */

.debug > header{
    height: 100px;
    background-color: rgb(21, 21, 224);
}

.debug > .nav1{
    background-color: blueviolet;
}

.debug > .nav2{
    background-color: brown;
}

.debug > h1 {
    width: 100%;
    height: 300px;
    background-color: chocolate;
}

.debug > .txt1 {
    width: 20%;
    height: 350px;
    background-color: crimson;
}

.debug > .img2 {
    width: 50%;
    height: 400px;
    background-color: darkblue;
}

.debug > h2, .debug > .h2_businnes{
    width: 70%;
    height: 100px;
    background-color: rgb(0, 154, 160);
}

.debug > .opzioni{
    width: 40%;
    height: 50px;
    background-color: chartreuse;
}

.debug > .tar, .debug > .tar_cent{
    height: 700px;
    background-color: cyan;
}

.debug > .titolino{
    height: 50px;
    background-color: darkolivegreen;
}

.debug > .descri{
    height: 150px;
    background-color: darkorchid;
}

.debug > .partner{
    height: 700px;
    width: 100%;
}

.debug > .partner_img{
    height: 700px;
    width: 50%;
    background-color: darkslategrey;

}

.debug > .txt_partner{
    width: 45%;
    height: 300px;
    background-color: green;
}

.debug > .businnes{
    width: 100%;
    height: 100%;
}
.debug > .busin, .debug > .busin_cent{
    height: 500px;
    background-color: greenyellow;
}

.debug > .img_busin{
    width: 100%;
    height: 200px;
    background-color: indigo;
}

.debug > h3{
    width: 100%;
    height: 100px;
    background-color: lightcoral;
}

.debug > p{
    width: 100%;
    height: 200px;
    background-color: lightskyblue;
}
.debug > .a{
    width: 20%;
    height: 50px;
    background-color: maroon;
}

.debug > .txt_loghi{
    height: 400px;
}

.debug > .cont_loghi{
    height: 400px;
    background-color: mediumvioletred;
}

.debug > .img_txt_loghi{
    width: 20%;
    height: 100px;
    background-color: red;
}

.debug > .descri_loghi{
    width: 80%;
    height: 300px;
    background-color: salmon;
    margin: auto;
}
/* /Debug */



/* I nav dell'header */
.nav1, .nav2{
    width: 58%;
    height: 100%;
    padding: 25px 0;
    margin: auto 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav2{
    justify-content: flex-end;
}

.nav1 > nav, .nav2 > nav{
    padding-left: 20px;
}

.nav1 > nav > a, .nav2 > nav > a{
    text-decoration: none;
    color: #222222;
    padding: 0 20px;
}

.btn_blue{
    background-color: #0061FF;
    padding: 8px 20px;
    border: 0px;
}

.btn_blue > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* /I nav dell'header */


/* Parte Main */

/* Sezione Tutto Ciò Che Ti Serve*/
.cont_grande{
    background-color: #B4D0E7;
}

.cont_90{
    margin: auto;
    padding: 8%;
}

.cont_90 > h1 {
    font-size: 500%;
    width: 100%;
    width: 90%;
}
.txt1{
    width: 25%;
    margin-top: 30px;
    font-weight: 600;
}

.txt1 > p{
    margin-top: 15px;
    font-weight: 600;
}

.txt1 > .btn_blue{
    margin-top: 25px;
}

.cont_freccia{
    margin-top: 50px;
}

.cont_freccia > a{
    color: black;
    text-decoration: none;
    font-size: 50px;
}
.jumbo{
    position: relative;
}

.cont_jumbo{
    width: 50%;
    position: absolute;
    right: 17%;
    bottom: -235px;
}

.cont_jumbo > img{
    width: 125%;
}
/* /Sezione Tutto Ciò Che Ti Serve*/



.cont_62{
    width: 62%;
    margin: 200px auto 0 auto;
}



/* Sezione Tariffe */
.tariffe{
    margin-bottom: 200px;
}

h2{
    font-size: 44px;
}

.opzioni{
    margin: 65px 0 50px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.opzioni > p{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    margin-right: 25px;
}

.scelto{
    border: 7px solid #0363FF;
}

.scelto, .vuoto{
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
}

.vuoto{
    border: 2px solid #E0E0E3;
}


/* Le Tre Tariffe */
.tre_tar{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    
}

.tar, .tar_cent{
    width: 30%;
    border: 2px solid #E6E6E7;
}

.tar_cent{
    margin: 0 5%;
}

.tito{
    text-align: center;
    border-bottom: 2px solid #E6E6E7;
}

.tito > p{
    padding: 10px 0;
}

.cont_tar{
    width: 90%;
    margin: 15px auto 250px auto;
    display: flex;
    flex-direction: column;
}

.tipologia{
    font-size: 30px;
}

.prezzo {
    font-size: 20px;
    margin: 15px 0;
}

.durata{
    color: #627486;
    margin-bottom: 25px;
}

.utente, .memoria, .funzioni{
    margin-top: 25px;
    font-weight: 500;
}

.btn_gratis{
    margin: 50px 0;
}

.btn_gratis > a{
    font-size: 18px;
}

.acquista > a{
    color: #3582FF;
}

.linietta{
    margin: 50px 0;
    width: 15%;
    border-top: 0.5px solid #DBDBDD;
}

.salienti{
    font-size: 20px;
}

.vantaggi{
    margin: 20px 0;
}

.check{
    color: #0F6AFF;
}
/* Le Tre Tariffe */


/* Enterprice */
.enterprice{
    width: 100%;
    margin-top: 50px;
    border: 2px solid #E6E6E7;
}

.titolino{
    text-align: center;
}

.cont_descri{
    display: flex;
    margin: 25px auto;
    width: 90%;
}

.descri{
    width: 70%;
}

.info{
    margin-top: 35px;
}

.bottone{
    width: 30%;
}

.btn_info{
    width: 100%;
}
/* Enterprice */
/* Sezione Tariffe */

/* Sezione Trova Partner */
.partner{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}

.partner_img{
    margin-right: 5%;
    width: 90%;
    background-image: url(./img/partner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 700px;
}

.cont_txt_partner{
    margin-top: 60px;
    width: 45%;
}

.tito_partner{
    font-size: 23px;
}

.txt_partner{
    font-size: 13.5px;
    margin: 20px 0;
}

.btn_partner{
    background-color: white;
    padding: 10px 20px;
}

.btn_partner > a{
    color: black;
    text-decoration: none;
    font-size: 13.5px;
}
/* /Sezione Trova Partner */


/* Sezione Dropbox Businnes */
.cont_businnes{
    display: flex;
    flex-direction: row;
}

.busin, .busin_cent{
    width: 30%;
    margin-top: 80px;
}

.busin_cent{
    margin: 80px 5%;
}

.img_busin{
    background-image: url(./img/business-feature-switching-tools.png);
}

.img_busin, .img_busin2, .img_busin3, .img_busin4, .img_busin5, .img_busin6{
    padding-bottom: 275px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_busin2{
    background-image: url(./img/business-feature-coordinate-it.png);
}

.img_busin3{
    background-image: url(./img/business-feature-multi-device.png);
}

.img_busin4{
    background-image: url(./img/business-feature-integrations-it.png);
}

.img_busin5{
    background-image: url(./img/business-feature-send-files-it.png);
}

.img_busin6{
    background-image: url(./img/business-feature-security.png);
}

h3{
    font-size: 30px;
    margin:15px 0;
}

.txt_busin{
    margin: 25px 0;
    font-size: 18px;
}
/* /Sezione Dropbox Businnes */


/* Sezione 500.000 */
.cinque{
    margin: 150px 0 50px 0;
}
/* 7Sezione 500.000 */


/* Sezione Loghi Vari */
.loghi{
    display: flex;
    flex-direction: row;
}

.cont_loghi{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.txt_loghi{
    width: 50%;
    background-color: #F5F5F5;
}

.piccolo_logo1{
    background-color: midnightblue;
}

.piccolo_logo2{
    background-color: navajowhite;
}

.piccolo_logo3{
    background-color: olive;
}

.piccolo_logo4{
    background-color: red;
}

.cont_piccolo{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.piccolo_logo1, .piccolo_logo2, .piccolo_logo3, .piccolo_logo4{
    width: 50%;
    height: 100%;
}

.cont_piccolo2{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* /Sezione Loghi Vari */
/* /Parte Main */