*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.clearfix{
    display: table;
    content: "";
    clear: both;
}
/* Header Main Footer */
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

/* /Header Main Footer */



/* Debug */

.debug > header{
    height: 100px;
    background-color: rgb(21, 21, 224);
}

.debug > .nav1{
    background-color: blueviolet;
}

.debug > .nav2{
    background-color: brown;
}

.debug > h1 {
    width: 100%;
    height: 300px;
    background-color: chocolate;
}

.debug > .txt1 {
    width: 20%;
    height: 350px;
    background-color: crimson;
}

.debug > .img2 {
    width: 50%;
    height: 400px;
    background-color: darkblue;
}

.debug > h2{
    width: 70%;
    height: 100px;
    background-color: rgb(0, 154, 160);
}

.debug > .opzioni{
    width: 40%;
    height: 50px;
    background-color: chartreuse;
}

.debug > .tar, .debug > .tar_cent{
    height: 700px;
    background-color: cyan;
}

.debug > .titolino{
    height: 50px;
    background-color: darkolivegreen;
}

.debug > .descri{
    height: 150px;
    background-color: darkorchid;
}

.debug > .partner{
    height: 700px;
    width: 100%;
}

.debug > .partner_img{
    height: 700px;
    width: 50%;
    background-color: darkslategrey;

}

.debug > .txt_partner{
    width: 45%;
    height: 300px;
    background-color: green;
}
/* /Debug */



/* I nav dell'header */
.nav1, .nav2{
    width: 50%;
    height: 100%;
}

/* /I nav dell'header */


/* Parte Main */

/* Sezione Tutto Ciò Che Ti Serve*/
.cont_grande{
    background-color: #B4D0E7;
}

.cont_80{
    width: 80%;
    height: 100%;
    margin: auto;
}

.img{
    position: relative;
}

.img2{
    position: absolute;
    right: 0%;
    bottom: -60px;
}

/* /Sezione Tutto Ciò Che Ti Serve*/

.cont_70{
    width: 70%;
    margin: 200px auto 0 auto;
}

/* Sezione Tariffe */
.opzioni{
    margin: 25px 0;
}
.tariffe{
    margin-bottom: 200px;
}

.tre_tar{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.tar, .tar_cent{
    width: 30%;
}

.tar_cent{
    margin: 0 5%;
}

.enterprice{
    width: 100%;
    margin-top: 50px;
}

.titolino{
    text-align: center;
}
/* Sezione Tariffe */

/* Sezione Trova Partner */
.partner{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}

.partner_img{
    margin-right: 5%;
}

.txt_partner{
    margin-top: 60px;
}
/* /Sezione Trova Partner */

/* /Parte Main */