*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.clearfix{
    display: table;
    content: "";
    clear: both;
}
/* Header Main Footer */
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

/* /Header Main Footer */



/* Debug */

.debug > header{
    height: 100px;
    background-color: rgb(21, 21, 224);
}

.debug > .nav1{
    background-color: blueviolet;
}

.debug > .nav2{
    background-color: brown;
}

.debug > h1 {
    width: 100%;
    height: 300px;
    background-color: chocolate;
}

.debug > .txt1 {
    width: 20%;
    height: 350px;
    background-color: crimson;
}

.debug > .img2 {
    width: 50%;
    height: 500px;
    background-color: darkblue;
}
/* /Debug */



/* I nav dell'header */
.nav1, .nav2{
    width: 50%;
    height: 100%;
}

/* /I nav dell'header */


/* Parte Main */

/* Sezione Tutto Ciò Che Ti Serve*/
.cont_grande{
    background-color: #B4D0E7;
}

.cont_80{
    width: 80%;
    height: 100%;
    margin: auto;
}

.img{
    position: relative;
}

.img2{
    position: absolute;
    right: 0%;
    bottom: -160px;
}

/* /Sezione Tutto Ciò Che Ti Serve*/

/* /Parte Main */